*{
    padding: 0;
    margin:0;
 }
body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("Landscape.jpg");
    }

 

.heading{
       margin-top: 4%;
       margin-left: 40%;
       font-size : 80px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
       color: whitesmoke;
}
.aim{

    margin-left: 38%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 30px;
    color:whitesmoke;
}

#list{
    margin-left:35%;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 32%;
    width : 40%;
    height : 6%;
    font-size: 25px;
    color: lightslategray;
}

.span{
     font-family: 'Times New Roman', Times, serif;
}

#Add{
       height : 40px;
       width : 25px;
       border: 0px;
       background: none;
       box-shadow:0px;
       cursor: pointer;
       border:none;
       position: absolute;
 
}
#Add:focus{
    outline: 0;
}
#Add svg{
      
    height:30px;
    width :30px;
    opacity: 0.7;
    top : 80%;
    left:50%;
    position: relative;
    margin: -11px 0px 0px -11px;
}
#Add svg:hover{
    opacity : 1;
    fill:green;
    transition:0.2s ease;
}
.container {
    width: 100%;
    float: left;
    padding: 15px;
  }

  ul.todo {
    width: 30%; 
    margin-left:500px;
    float: left;

  }
  
  ul.todo li {
    width: 100%;
    min-height: 20px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
    opacity:0.5;
    transition: 0.2s ease;
   
  
    background: #fff;
    border-radius: 5px;
    position: relative;

    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;
    word-break: break-word;
  }

  ul.todo li:hover{
      opacity:1;
      transition: 0.2s ease;
  }
  
  ul.todo li:last-of-type {
    margin: 0;
  }
  

  ul.todo li .buttons {
    width: 100px;
    height: 50px;
  
    position: absolute;
    top: 0;
    right: 0;
  }
  
  ul.todo li .buttons button {
    width: 50px;
    height: 50px;
    float: left;
    background-color: white;
    background: none;
    position: relative;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
  
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  ul.todo li .buttons button:last-of-type:before {
    content: '';
    width: 1px;
    height: 30px;
    background: #edf0f1;
  
    position: absolute;
    top: 10px;
    left: 0;
  }
 
  ul.todo li .buttons button svg {
    width: 22px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
  
    margin: -11px 0 0 -11px;
  
}
ul.todo li .buttons button.remove svg {
 transition: fill 0.2s ease;
}

  ul.todo li .buttons button.complete:hover {
      fill: green;
      transition: 0.2s ease;
  }
  ul.todo li .buttons button.remove:hover svg {
      fill: red;
      transition: 0.4s ease;
  }
